.addMemberFields{
    display: flex;
    // flex-direction: column;
    height: fit-content;
    justify-content: space-around;
    width: calc(60vw - 48px);
  }
//   mat-form-field {
//     flex-basis: 45%;
//   }

  .firstNameField, .lastNameField, .titleField, .teamField{
    width: calc(30vw - 24px);
  }
  .infoField{
    width: 100%;
  }

  .form-btns {
    display: flex;
    justify-content: end;
  }
.profile-pics{
  width: 7vw;
  max-width: 80px;
  height: 7vw;
  max-height: 80px;
  object-fit: cover;
  opacity: 0.5;
}

.selected-pic {
  opacity: 1;
  border-bottom: 3px;
  border-color: #ff4e00;
}

.prof-pics-cont {
  display: flex;
  width: 80%;
  margin: 20px 10%;
  justify-content: space-between;
}
