<mat-toolbar>
    <img src="assets/vizient-logo-registered.svg" alt="Vizient Logo">
    <div class="mat-display-6">
      <p> VizTeams</p>
    </div>
    <div class="sign-up">
      <button mat-stroked-button matTooltip="Sign-up" matTooltipPosition="below" (click)="onSignUp()">Sign Up</button>
    </div>
    <div class="sign-in">
      <button mat-stroked-button matTooltip="Sign-in" matTooltipPosition="below" (click)="onSignIn()">Sign In</button>
    </div>
    <div class="u-name">
      <p>UserName</p>
    </div>

</mat-toolbar>

