<form class="signInForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <mat-dialog-content>
    <h2 mat-dialog-title style="text-align: center">Sign in</h2>
    <div class="inputfields-boxs">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="email@example.com" type="email" name="email" email required ngModel/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="your password" type="password" name="password" password required ngModel/>
      </mat-form-field>

    </div>
    <mat-error>{{errorMessage}}</mat-error>
    <div class="su-btns">
      <button mat-button type="reset" (click)="onCancel()">Cancel</button>
      <button mat-button type="Submit" [disabled]="!form.valid">
        Submit
      </button>
    </div>
  </mat-dialog-content>
</form>
