.teamList {
  width: 100%;
  height: 100%;
}

mat-card-title {
  padding: 0px 24px;
}

mat-card {
  padding-left: 0;
  padding-right: 0;
}

// .mat-expansion-panel-content {
//   color: pink;
// }

mat-expansion-panel {
  border-radius: 0 !important;
}
.mat-expansion-panel-body {
  background-color: rgb(199, 199, 199) !important;
}
.addMember {
  background-color: rgb(199, 199, 199);
}

// mat-expansion-panel-description{
//   background-color: indianred;
// }
mat-expansion-panel-header {
  border-radius: 0 !important;
  .actionRow {
    // background-color: grey;
    // position: fixed;
    // bottom: 0;
    // width: 46vw;
    display: flex;
    justify-content: end;
  }

  .noMembers {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .expansion-content {
    background-color: gray;
  }

  .material-icons {
    margin: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

.memberPhoto {
  width: 7%;
  aspect-ratio: 1;
  object-fit: cover;
  margin-right: 10px;
  &:hover {
    cursor: move;
  }
}

.material-icons {
  color: rgba(69, 90, 100, 0.87);
  cursor: pointer;
}

.counter {
  margin-right: 1rem;
}
