<div class="teamList">
  <mat-card [style.overflow]="'auto'" style="height: 100%; display: flex; flex-direction: column; justify-content: space-between; padding: 0;">
    <mat-card-title>Teams</mat-card-title>
    <div style="overflow: auto; height: 100%" >

      <mat-divider></mat-divider>
      <mat-card-content>
        Content
      <p>Csdafsdafs</p>
      <p>Csdafsdafs</p>
      <p>Csdafsdafs</p>


      </mat-card-content>
    </div>
    <div>

      <mat-action-row class="actionRow">
        <mat-divider></mat-divider>
        <span class="material-icons" matTooltip="Add Team">
          add_box
        </span>
      </mat-action-row>
    </div>
  </mat-card>
</div>
