<mat-card>
  <!-- Don't forget to add back the placeholder text -->
  <ng-container *ngIf="activeMember != null && activeMember != undefined">
    <mat-card-title>
      <span (click)="onTeamSelected()" class="teamBreadcrumb">{{
        activeMember.team.name
      }}</span>
      &gt; {{ activeMember.firstName }} {{ activeMember.lastName }}
      <mat-divider></mat-divider>
    </mat-card-title>
    <br />

    <mat-card-content class="memberContainer">
      <div class="memberContent">
        <img src="{{ activeMember.pathToPhoto }}" alt="member photo" />
        <div class="memberInfo">
          <div class="mat-title" style="margin-bottom: 0">
            {{ activeMember.firstName }} {{ activeMember.lastName }}
          </div>
          <div class="mat-title" style="margin-bottom: 0">
            {{ activeMember.title }}
          </div>
          <div class="mat-title" style="margin-bottom: 0">member email</div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-divider></mat-divider>
      <div class="icons">
        <mat-icon
          matTooltip="Edit {{ activeMember.firstName }}"
          matTooltipPosition="above"
          (click)="onEditMember(activeMember)"
        >
          edit
        </mat-icon>
        <mat-icon
          matTooltip="Archive {{ activeMember.firstName }}"
          matTooltipPosition="above"
          (click)="onArchiveMember()"
        >
          archive
        </mat-icon>
      </div>
    </mat-card-actions>
  </ng-container>

  <ng-container *ngIf="activeMember === null || undefined">
    <mat-card-title *ngIf="activeTeam === null || undefined" class="teambox"
      >Select a team to view members.</mat-card-title
    >

    <ng-container *ngIf="activeTeam != null && activeTeam != undefined">
      <mat-card-title>{{ activeTeam.name }}</mat-card-title>

      <mat-card-content class="teamMemberContainer">
        <ng-container *ngFor="let member of activeTeam.members">
          <div class="member-card" (click)="onMemberSelect(member.id)">
            <img
              src="{{ member.pathToPhoto }}"
              alt="profile pic"
              style="cursor: pointer"
            />
            <div class="member-text">
              <p>{{ member.firstName }} {{ member.lastName }}</p>
              <p>{{ member.title }}</p>
            </div>
          </div>
        </ng-container>
      </mat-card-content>

      <mat-card-actions>
        <mat-divider></mat-divider>
        <mat-icon
          matTooltip="Archive {{ activeTeam.name }}"
          matTooltipPosition="above"
          (click)="onArchiveTeam()"
          >archive</mat-icon
        >
        <mat-icon matTooltip="Edit {{ activeTeam.name }}" (click)="onEditTeam()"
          >edit</mat-icon
        >
        <mat-icon matTooltip="{{ activeTeam.name }}'s History"
          >history</mat-icon
        >
      </mat-card-actions>
    </ng-container>
  </ng-container>
</mat-card>
